body
	background: #F8F8F8

.main-header
	background: #A4BEC3

	h1
		color: #ffffff

	p
		color: #ffffff

	header
		ul li a
			color: #ffffff

.main-image
	.link-col-1, .link-col-2, .link-col-3, .link-col-4
		color: #ffffff

.quote
	color: #848079

