* {
	margin: 0;
	padding: 0;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #FCFCFC;

}

h1 {
	margin: 0;
}

a {
	color: #FCFCFC;
	text-decoration: none;
	font-size: 14px;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	height: 550px;
}


.container_header {
	width: 100%;
	height: 70px;
	background-color: #92495F;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0, 1);
}

.header_logo {
	color: #fff;
	margin: 0;
	float: left;
	line-height: 70px;
	margin-left: 0.5em;
}

.header_menu {
	float: right;
}

.header_menu ul {
	float: right;
	margin-right: 2em;
}

.header_menu li {
	display: inline-block;
	margin-left: 2em;
	line-height: 70px;
}

.footer {
	background-color: #DEE7F1;
	color: #E9EDEF;
	height: 40px;
	line-height: 40px;
	font-weight: lighter;
}

.footer p {
	margin-left: 2em;
}

/*register.html*/

.formRegisterUser {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.formRegisterUser input {
	display: flex;
	border: none;
	padding: 40px 20px 5px 0;
	width: 270px;
	border-bottom: 1px solid #E8EBF0;
	font-size: 13px;
	background-color: #FCFCFC;
}

.formRegisterUser input[type="text"], input[type="password"] {
	padding-left: 10px;
	color: #92495F;
	font-size: 15px;
}

.formRegisterUser button {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	/*border-radius: 100px;*/
	border: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #240022;
	color: #fff;
	cursor: pointer;
}

/*movie.html*/

.browse {
	width: 100%;
	/*display: flex;*/
	/*flex-wrap: wrap;*/
}

.browse h1 {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	color: #92495F;
}

.cards {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 0px;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: auto;
	text-align: center;
	height: 200px;
	/*flex: 2;*/
	margin: 100px 25px 0 25px;
}

.card p {
	margin-top: 10px;
	width: 180px; 
	text-align: center;
}

.card span {
	font-size: 12px;
	background-color: #F26153;
	padding: 2px;
	color: #FAFAFA;
	display: inline-block;
}

.card img {
	margin-top: 10px;
	width: 120px;
}

.fa-star-o {
	color: goldenrod;
}

.fa-ticket {
	margin-top: 7px;
}

@media (max-width: 320px) {
	.card {
		margin-top: 40px;
	}
}