.container-wrap
	display: flex
	flex-wrap: wrap
	min-height: 250px

.sections
	height: 100%
	// background: pink
	flex: 1


	//Flex classes
	.flex
		display: flex
		flex-direction: row

	.flex--center
		justify-content: center

	.flex--space-around
		justify-content: space-around

	.flex--space-between
		justify-content: space-between

//Colunas
.col-1
	width: 380px
	margin: 0px 0px
	box-sizing: border-box

.space-center
	margin: 0 60px
