@charset "utf-8";
/* CSS Document */

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
}
ul,
ol {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}
label {
    font-weight: normal;
}
label,
span,
a {
    display: inline-block;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica.otf') format('opentype'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Light.otf') format('opentype'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media(min-width:1560px) {
    .container {
        width: 1560px;
    }
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica-Light';
    height: 100%;
}
.tbl {
    display: table;
    width: 100%;
    height: 100%;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
header {
    background: #404040;
    position: relative;
    height: 100%;
}
.logo {
    width: 146px;
}
.logo img {
    float: left;
    width: 100px
}
.main-nav {
    background: #313131;
}
.is-active--border {
    border-bottom: 3px solid #B83423;
}
header .container {} .headerWrapper {
    height: 70px;
    display: table;
    width: 100%;
}
nav ul {
    display: inline-block;
    height: 100%;
}
nav ul li {
    float: left;
    height: 100%;
}
.headerWrapper nav ul li a {
    padding: 0 25px;
    font-size: 16px;
    color: #fff;
    height: 100%;
    transform: translateY(30%);
}
nav ul li a:hover {
    color: #fff;
}

/* START TABS*/
.tabs {
  margin: 70px 0px;
  width: 100%;
  display: flex;
  justify-content: center; 
}
.tabs .tabs-nav {
  display: flex;
  justify-content: center;
  width: 70%;
  border-bottom: 1px solid #DCDCDC; 
}
.tabs .tabs-nav ul {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around; 
}
.tabs .tabs-nav li {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 10px; 
}
.tabs .tabs-nav li a {
  color: #747474; 
}
.tabs .tabs-nav li a.is-active--tab {
  background: #404040;
  color: #fff;
  padding: 10px; 
}
/*END TABS*/

.userAccess {
    width: 200px;
    background: #1b1b1b;
    color: #fff;
    font-size: 16px;
}
.sub-header-section {
    margin-top: 50px;
}
.thumbnail-profile {
    display: block;
    position: relative;
}
.thumbnail-profile img {
  width: 100px;
  height: 100px;
  border: 1px solid #FCD246;
  border-radius: 50%; 
}
.thumb-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  right: 0px;
  border-radius: 50%;
  background-image: url(../images/g-ouro.png);
  background-position: center;
  background-size: contain; 
}
.profile-infos p {
    display: inline-block;
    font-weight: bold;
}
.profile-followers {
    float: right;
}
.profile-bio {
    margin-top: 10px;
    color: #7E7E7E;
    text-align: justify; 
}
.player-mini {
  background: #F3F3F3;
  width: 360px;
  border-radius: 10px;
  height: 60px;
  margin-top: 10px; 
}
.player-mini p {
    color: #9F9F9F;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 5px; 
}
.player-mini span {
    font-size: 10px;
    margin-right: 50px;
    color: #696969; 
}
.player-mini audio::-webkit-media-controls-panel {
    border-radius: 10px 10px 0px 0px;
    width: 340px;
    background: #EBEBEB;
    padding: 0 10px; 
}
.share {
  float: left;
  color: #747474;
  margin-top: 20px; 
}
.share img {
    width: 20px;
    vertical-align: bottom; 
}
.btn-red-square {
  width: 100px;
  height: 25px;
  border: 1px solid #B70000;
  background: #DC1E1D;
  color: #fff;
  font-weight: bold; 
  cursor: pointer;
  margin-top: 20px;
  font-size: 10px;

}
.btn-follow {
  width: 80px;
  height: auto;
  border: 1px solid #B70000;
  background: #DC1E1D;
  color: #fff;
  font-weight: bold; 
  cursor: pointer;
  margin: 5% 2%;
  font-size: 10px;
  border-radius: 20px;
}

@media(max-width: 1200px){
  .btn-red-square {
    position: absolute;
    margin-left: 50px;
  }
}

@media(max-width: 1024px){
  .player-mini {
    width: 300px;
  }

  .player-mini audio::-webkit-media-controls-panel {
    width: 280px;
  }
}

@media(max-width: 776px) {
    .btn-follow {
      width: 100px;
      height: 20px;
      margin-left: -30px;
      margin-bottom: 20px; 
    }

    .sub-header-section .col-md-3 {
        float: none;
        margin: 0 auto;
    }

    .sub-header-section .thumbnail-profile {
        margin-bottom: 30px;
    }

    .sub-header-section .thumbnail-profile img {
        margin-left: -35px;
    }

    .profile-bio {
      margin-bottom: 10px;
    }

    .btn-red-square {
      margin-left: 20px;
    }

}

@media(max-width: 465px){
  .thumb-icon {
    right: -20px;
  }
}

@media(max-width: 420px){


    .thumb-icon {
      right: -20px;
    }

    .sub-header-section {
        margin-top: 30px;
    }

    .sub-header-section .col-md-3 {
        float: none;
        margin: 0 auto;
    }

    .sub-header-section .thumbnail-profile {
        margin-bottom: 30px
    }

    .sub-header-section .thumbnail-profile img {
        margin-left: -35px;
    }

    .player-mini {
      margin: 0 auto;
    }
}

@media(max-width: 375px){
  .thumb-icon {
    right: -30px;
  }
}

@media(max-width: 360px){
  .thumb-icon {
    right: -30px;
  }
}

@media(max-width: 320px){

  .btn-follow {
    width: 100px;
    height: 20px;
    margin-left: -30px;
    margin-bottom: 20px; 
  }

  .thumb-icon {
    right: -40px;
  }

  .player-mini {
    width: 240px;
    margin-top: 10px;
    height: 70px
  }

  .player-mini audio::-webkit-media-controls-panel {
    width: 240px;
  }

  .share {
    float: none;
    color: #747474;
    text-align: center;
  }

  .btn-red-square {
    margin: 20px 25%;
    text-align: left;
    width: 110px
  }
}
.userAccess a {
    font-size: 16px;
    color: #fff;
}
.userAccess span,
.userAccess a {
    line-height: 25px;
}
.navIcon {
    width: 55px;
    background: #e02208;
    color: #fff;
    cursor: pointer;
    display: none;
}
.navIcon i {
    font-size: 20px;
}
.banner {
    height: 900px;
}
.banner .container {
    display: table;
    height: 100%;
}
.search {
    width: 1270px;
    position: relative;
    display: inline-block;
}
.search input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    border: 0;
    padding: 0 100px 0 50px;
    font-size: 30px;
    color: #323232;
    padding-bottom: 8px;
    outline: none;
}
.search input[type="submit"] {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0px;
    background: url(../images/search.png) center center no-repeat;
    border: 0;
    margin: auto;
    background-size: 100% 100%;
}
.searchScroll {
    width: 100%;
    position: relative;
    display: inline-block;
}
.searchScroll input[type="text"] {
    width: 123%;
    height: 36px;
    border-radius: 50px;
    background: #fff;
    border: 0;
    padding: 0 100px 0 50px;
    font-size: 30px;
    color: #323232;
    padding-bottom: 8px;
}
.searchScroll input[type="submit"] {
    width: 34px;
    height: 34px;
    position: absolute;
    right: -106px;
    top: 1px;
    background: url(../images/search.png) center center no-repeat;
    border: 0;
    background-size: 100% 100%;
    :
}
.bannerMenu {
    margin-top: 60px;
}
.bannerMenu ul {
    display: inline-block;
}
.bannerMenu ul li {
    float: left;
    margin-right: 50px;
    position: relative;
}
.bannerMenu ul li:last-child {
    margin: 0;
}
.bannerMenu ul li:before {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    top: 50%;
    margin-top: -3px;
    content: "";
    position: absolute;
    left: 10px;
}
.bannerMenu ul li.active,
.bannerMenu ul li:hover {
    background: rgba(0, 0, 0, 0.5);
}
.bannerMenu ul li.active:before,
.bannerMenu ul li:hover:before {
    background: #e02208;
}
.bannerMenu ul li a {
    display: block;
    padding: 15px 30px;
    font-size: 24px;
    color: #fff;
}
.section {
    padding: 80px 0;
}
.rankingTalkers {
    background: #fff;
}
.pageHeader h2 {
    background: #565656;
    color: #fff;
    font-size: 30px;
    padding: 15px 40px;
    display: inline-block;
    position: relative;
}
.rankingTalkers h2:before {
    position: absolute;
    left: -15px;
    top: 0;
    background: #e02208;
    width: 15px;
    height: 100%;
    content: "";
}
.rankingTalkerItem {
    margin-top: 75px;
}
.rankingTalker {
    width: 90%;
}
.rankingTalkerImage {
    position: relative;
}
.rankingTalker figure img {
    width: 100%;
    min-height: 206px;
    max-height: 210px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.rankingTalkerCategory {
    width: 74px;
    height: 74px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.rankingTalkerCategory img {
    width: 100%;
}
.rankingTalkerContents {
    border-top: 5px solid #e02208;
    padding: 15px 20px;
    background: #f0f0f0;
}
.rankingTalkerContentsheader .name {
    font-family: 'Helvetica';
    font-weight: bold;
    color: #4a4a4a;
    font-size: 22px;
    line-height: 25px;
}
.rankingTalkerContentsheader .status {
    line-height: 25px;
    font-size: 18px;
    color: #4a4a4a;
}
.rankingTalkerText {
    margin-top: 20px;
}
.rankingTalkerText p {
    font-size: 20px;
    color: #4a4a4a;
    line-height: 25px;
}
.rankingTalkerFooter {
    font-size: 17px;
    color: #4a4a4a;
    margin-top: 20px;
}
.budget {
    cursor: pointer;
    background: #5d5d5d;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
.budget-action {
    cursor: pointer;
    background: #e02208;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
.btn-white {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px;
    border: solid 1px;
    border-radius: 15px;
}
.btn-red {
    cursor: pointer;
    background: #e02208;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px;
    border: solid 1px;
    border-radius: 15px;
}
.rankingTalkerSocialmedia {
    padding: 10px 0;
}
.rankingTalkerSocialmedia span {
    line-height: 31px;
    font-size: 18px;
    color: #4a4a4a;
}
.rankingTalkerSocialmedia span a {
    margin-right: 10px;
}
.rankingTalkerSocialmedia span a:last-child {
    margin: 0;
}
.rankingTalker:hover .rankingTalkerItemWrap {
    box-shadow: 0 0 10px #bbbbbb;
}
.rankingTalker:hover .budget {
    background: #e02208;
}
.rankingTalker:hover .rankingTalkerImage figure img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.budget:hover {
    background: #e02208;
}
.budget-action:hover {
    background: #cc2711;
}
.btn-white:hover {
    background: #e02208;
    color: #fff;
}
.btn-red:hover {
    background: #fff;
    color: #000;
}
/*.rankingTalkerImage figure img{-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); filter: gray; filter: grayscale(100%);}*/

.rankingTalkers .carousel-indicators {
    position: static;
    left: inherit;
    margin: 50px 0 0 0;
    bottom: inherit;
    width: 100%;
}
.rankingTalkers .carousel-indicators li {
    width: 22px !important;
    height: 22px !important;
    background: #565656;
    box-shadow: 0;
    border: 0;
    border-radius: 100%;
    margin: 0 10px 0 0 !important;
}
.rankingTalkers .carousel-indicators li:last-child {
    margin: 0 !important;
}
.rankingTalkers .carousel-indicators li.active {
    background: #e02208;
}
.completeList {
    margin-top: 35px;
}
.completeListBtn {
    border: 3px solid #404040;
    font-size: 30px;
    color: #323232;
    padding: 0 30px;
    line-height: 60px;
}
.completeListBtn:hover {
    color: #323232;
}
.topCategories .container {
    display: table;
    height: 100%;
}
.topCategories {
    height: 700px;
}
.topCategories .pageHeader h2 {
    background: #404040;
}
.topCategoryList {
    margin-top: 85px;
}
.topCategoryList ul {
    display: inline-block;
}
.topCategoryList ul li {
    float: left;
}
.topCategoryItemIcon img {
    max-width: 100%;
}
.topCategoryItem h3 {
    font-size: 34px;
    color: #fff;
    margin-top: 20px;
}
.testimonialSlider .carousel-indicators {
    position: static;
    left: inherit;
    margin: 75px 0 0 0;
    bottom: inherit;
    width: 100%;
}
.testimonialSlider .carousel-indicators li {
    width: 22px !important;
    height: 22px !important;
    background: #565656;
    box-shadow: 0;
    border: 0;
    border-radius: 100%;
    margin: 0 10px 0 0 !important;
}
.testimonialSlider .carousel-indicators li:last-child {
    margin: 0 !important;
}
.testimonialSlider .carousel-indicators li.active {
    background: #e02208;
}
.testimonials {
    background: url(../images/background-black.jpg) left top repeat;
}
.testimonials .container {
    display: table;
    height: 100%;
}
.testimonials .pageHeader h2 {
    background: #404040;
}
.testimonialSlider {
    margin-top: 75px;
}
.testimonialSlider h1 {
    font-size: 56px;
    color: #fff;
}
.footerTop {
    background: #444444;
    padding: 100px 0;
}
.footerTop .row {
    display: table;
    width: 100%;
}
.footerTop .row .footerColumn {
    display: table-cell;
    float: none;
}
.footerTop h5 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}
.footerTopContents {
    margin-top: 25px;
}
.footerTopContents p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}
.footerTopContents p:last-child {
    margin: 0;
}
.footerColumn {
    padding-left: 25px;
    border-left: 3px solid #1b1b1b;
}
.footerTopContents ul li {
    font-size: 24px;
    color: #fff;
}
.footerTopContents ul li a {
    color: #fff;
}
.footerTopContents ul li a:hover {
    text-decoration: underline;
}
.ftrSocialIcon {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    margin-right: 15px;
}
.ftrSocialIcon:last-child {
    margin: 0;
}
.ftrSocialIcon i {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: #444444;
    font-size: 35px;
}
.copyright {
    background: #1b1b1b;
    padding: 25px 15px;
    font-size: 16px;
    color: #fff;
}
@media(min-width:1301px) and (max-width:1560px) {
    .container {
        width: 1300px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .userAccess a {
        font-size: 24px;
    }
    .search {
        width: 70%;
    }
    .topCategoryItemIcon img {
        width: 140px;
    }
}
@media(min-width:1200px) and (max-width:1300px) {
    .container {
        width: 1199px;
    }
    .search {
        width: 70%;
    }
}
@media(max-width:1560px) {
    .banner {
        height: 700px;
    }
    .rankingTalkerContentsheader .name {
        font-size: 19px;
    }
    .rankingTalkerContentsheader .status {
        font-size: 16px;
    }
    .rankingTalkerText p {
        font-size: 16px;
        line-height: 20px;
    }
    .rankingTalkerFooter {
        font-size: 15px;
    }
    .rankingTalkerText {
        margin-top: 10px;
    }
    .rankingTalkerFooter {
        margin-top: 10px;
    }
    .budget {
        font-size: 16px;
    }
    .rankingTalkerSocialmedia span {
        font-size: 16px;
    }
    .rankingTalkerSocialmedia span a {
        margin-right: 5px;
    }
    .topCategoryItem h3 {
        font-size: 24px;
    }
}
@media(max-width:1300px) {
    .headerWrapper {
        height: 75px;
    }
    nav ul li a {
        font-size: 18px;
    }
    .userAccess a {
        font-size: 20px;
    }
    .logo img {
        height: 60px;
    }
    .banner .container {
        width: 100%;
    }
    .search {
        width: 70%;
    }
    .banner {
        height: 600px;
    }
    .search input[type="text"] {
        height: 70px;
        padding: 0 70px 0 35px;
    }
    .search input[type="submit"] {
        width: 60px;
        height: 63px;
        right: 4px;
        top: 4px;
    }
    .bannerMenu {
        margin-top: 30px;
    }
    .bannerMenu ul li {
        margin-right: 30px;
    }
    .bannerMenu ul li a {
        font-size: 22px;
        padding: 10px 30px;
    }
    .pageHeader h2 {
        font-size: 28px;
        padding: 15px 20px;
    }
    .rankingTalker {
        width: 100%;
    }
    .rankingTalkerItem {
        margin-top: 50px;
    }
    .topCategoryItemIcon img {
        width: 140px;
    }
    .footerTop h5 {
        font-size: 22px;
    }
    .footerTopContents p {
        font-size: 18px;
    }
    .footerTopContents {
        margin-top: 15px;
    }
    .footerTopContents ul li {
        font-size: 20px;
    }
    .ftrSocialIcon i {
        font-size: 26px;
    }
    .ftrSocialIcon {
        width: 50px;
        height: 50px;
    }
    .ftrSocialIcon i {
        line-height: 50px;
    }
}
@media(max-width:1199px) {
    header .container {
        width: 100%;
    }
    nav ul li a {
        padding: 0 15px;
    }
    .userAccess {
        width: 200px;
    }
    .section {
        padding: 50px 0;
    }
    .section .container {
        width: 100%;
    }
    .testimonialSlider h1 {
        font-size: 44px;
    }
}
@media(max-width:991px) {
    .logo {
        width: 115px;
    }
    .logo img {
        height: 50px;
    }
    .search input[type="text"] {
        height: 50px;
        padding: 0 70px 0 22px;
        font-size: 23px;
    }
    .search input[type="submit"] {
        width: 40px;
        height: 42px;
        right: 4px;
        top: 4px;
    }
    .banner {
        height: 500px;
    }
    .bannerMenu ul li {
        margin-right: 15px;
    }
    .bannerMenu ul li a {
        font-size: 18px;
    }
    .rankingTalkerItem {
        margin-top: 25px;
    }
    .completeListBtn {
        font-size: 25px;
        line-height: 45px;
    }
    .testimonialSlider h1 {
        font-size: 36px;
    }
    .testimonialSlider,
    .testimonialSlider .carousel-indicators {
        margin-top: 50px;
    }
    .footerTop {
        padding: 25px 0;
    }
    .footerTop .container {
        width: 100%;
    }
    .footerTop .row {
        display: block;
        margin: 0;
    }
    .footerColumn {
        display: block !important;
        border: 0;
        width: 100% !important;
        padding: 15px 15px;
        border-top: 3px solid #1b1b1b;
    }
    .footerColumn:first-child {
        border: 0;
    }
}
@media(min-width:768px) {
    nav {
        display: table-cell !important;
        vertical-align: middle;
    }
}
@media(max-width:767px) {
    .tabs .tabs-nav {
      position: static;
      background: none;
      border-bottom: none;
    }

    .tabs .tabs-nav li a.is-active--tab {
      padding: 0px 10px;
    }

    .thumb-icon{
        /*display: none*/
    }
    .logo {
        width: auto;
    }
    .logo img {
        height: 40px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .userAccess {
        width: 170px;
    }
    .userAccess a {
        font-size: 18px;
    }
    .headerWrapper {
        height: 55px;
    }
    nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #f0f0f0;
        display: none;
        z-index: 999;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        float: none;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }
    nav ul li a {
        display: block;
        line-height: 40px;
        color: #000;
    }
    nav ul li a:hover {
        color: #000;
    }
    .navIcon {
        display: table-cell;
    }
    .banner {
        height: 430px;
    }
    .pageHeader h2 {
        font-size: 23px;
        padding: 12px 15px;
    }
    .section {
        padding: 30px 0;
    }
    .rankingTalkerContentsheader .name,
    .rankingTalkerContentsheader .status {
        float: none !important;
    }
    .topCategoryItemColumn {
        margin-bottom: 50px;
    }
    .topCategoryItemIcon img {
        width: 110px;
    }
    .topCategoryItem h3 {
        font-size: 20px;
    }
    .topCategoryItem h3 {
        margin-top: 10px;
    }
    .topCategoryList {
        margin-top: 50px;
    }
    .topCategories {
        height: 600px;
    }
    .footerTopContents ul li {
        font-size: 18px;
    }
    .footerTopContents p {
        font-size: 16px;
    }
    .ftrSocialIcon {
        width: 40px;
        height: 40px;
    }
    .ftrSocialIcon i {
        line-height: 40px;
    }
    .ftrSocialIcon i {
        font-size: 22px;
    }
}
@media(max-width:640px) {
    .testimonialSlider h1 {
        font-size: 26px;
    }
}
@media(max-width:480px) {
    .rankingTalkerItem {
        float: none;
        width: 100%;
    }
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #e02208;
}
.budget-btn:active .budget {
    background-color: #e02208;
}
.menuLocutores {
    background-color: #f0f0f0;
}
.miniLocutores {
    background-color: #dedede;
    padding: 13px;
    width: 103%;
    overflow-x: scroll;
}
.img-circle-miniLoc {
    border: solid 3px;
    border-color: #e4cf14;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}
.vertical-center {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Daqui para baixo tudo é sobre o Menu da DashBoard, sera refatorado em breva */

.profile {
    padding-top: 70px;
    text-align: center;
}
.profile h1 {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 500;
    padding-top: 20px;
}
.profile h2 {
    font-size: 13px;
}
.profile .stats {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 50px
}
.profile figure img {
    border: solid 3px;
    border-color: #e4cf14;
    /* make it responsive */
    
    max-width: 70%;
    width: 100%;
    height: auto;
    max-height: 80%;
    display: block;
    border-radius: 50%;
    /* Centering on image`s center*/
    
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    /* it makes the clue thing, takes smaller dimention to fill div */
    
    background-size: cover;
    /* it is optional, for making this div centered in parent*/
    
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.nav-side-menu {
    /*overflow: auto;*/
    
    font-size: 18px;
    font-weight: 200;
    background-color: #e0e0e0;
    position: absolute;
    width: 300px;
    /*height: 100%;*/
    
    z-index: 1;
    padding-bottom: 100px;
    /*color: #f0f0f0;*/
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 55px;
    cursor: pointer;
    text-align: center;
}
.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
    content: "\f078";
    display: inline-block;
    /*padding-left: 10px;*/
    
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-right: 5px solid red;
    background-color: #c9c9c9;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    /*color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #e0e0e0;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #e0e0e0;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    content: "\f105";
    display: inline-block;
    /*padding-left: 10px;*/
    
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    /*padding-left: 0px;*/
    
    border-bottom: 1px solid #e0e0e0;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #001;
}
.nav-side-menu li i {
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: white;
    padding: 3%;
}
.nav-side-menu li:hover {
    border-right: 5px solid red;
    background-color: #c9c9c9;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 55px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
/* Acabou Menu dash */

.gv-dash {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%
}
.gv-dash .tabs {
    background-color: white;
    padding: 20px;
    margin-top: 35px;
}
.gv-dash .tabs ul li.active>a {
    background-color: #404040;
    color: white;
}
.gv-dash .tabs ul li:last-child {
    margin-left: 39%
}
.gv-dash .tabs .descricao {
    padding-bottom: 50px;
}
.gv-dash h1 {
    font-size: 20px;
    padding-top: 100px;
}
.gv-dash h2 {
    font-size: 20px;
    padding-top: 30px
}
.gv-dash .data {
    font-size: 15px;
    padding-bottom: 35px;
}
.gv-dash h3 {
    font-size: 18px;
    padding-bottom: 15px;
}
.gv-dash .works {
    padding-bottom: 25px;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: white;
}