<!DOCTYPE html>
<html>
<head>
	<title>Dra Vanda Fonteles | Médica | Séxologa</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Libs CSS -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body ng-app="main">
	<div class="container-fluid main-header">
		<div class="row">
			<div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-1 col-md-1 col-lg-1 logo">
				<img class="img-responsive" src="../img/logo.png" alt="Logo">
			</div>
			<div class="col-sm-offset-1 col-lg-offset-0 col-md-offset-0 col-xs-12 col-sm-6 col-md-7 col-lg-7 headline">
				<h1>SUPERANDO O VAGINISMO</h1>
				<p>Dra. Vanda - Médica e Séxologa</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<header>
					<nav>
						<ul class="list-inline">
							<li><a href="../index.html">Início</a></li> <span>|</span>
							<li><a href="sobre.html">Sobre</a></li> <span>|</span>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</nav>
				</header>
			</div>
		</div>
	</div>
	<div class="container title-about">
		<div class="row">
			<div class="col-xs-12 col-lg-9">
				<h3>Dra Lucivanda Pontes Fonteles</h3>
			</div>
			<div class="col-xs-12 col-lg-3 text-right">
				<h3>CRM 78551</h3>
			</div>
		</div>
		<div class="line-bottom"></div>
	</div>
	<div class="container">
		<div class="row">
			<img class="img-responsive img-about" src="../img/dra-vanda.jpg" alt="Dra. Vanda Fonteles">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-11">
				<ul class="qualifications">
					<li>Médica Ginecologista formada pela Universidade Estadual do Pará </li>
					<li>Especialização em Ginecologia Endócrina e Climatério pela Escola Paulista de Medicina - UNIFESP (1999)</li>
					<li>Especialização em Ginecologia no Serviço Prof.Dr. Pinotti  da Clínica Ginecológica – HCFMUSP (2002)</li>
					<li>Título de Especialista em Ginecologia e Obstetrícia pela Associação Médica Brasileira – FEBRASGO (2008)</li>
					<li>Especialização em Sexualidade Humana pela Faculdade de Medicina do ABC (2010)
</li>
					<li>Especialização em Educação Sexual pela Universidade Salesiana de São Paulo (2012)</li>
					<li>Membro da Sociedade Brasileira de Ginecologia e Obstetrícia do Estado de São Paulo 
</li>
					<li>Co-autora de Publicações Médicas em livro de Ginecologia do Hospital das Clínicas - HCFMUSP</li>
					<li>Médica Colaboradora no Ambulatório de Patologia Trato Genital Inferior na Clínica Ginecológica - HCFMUSP (2003 - 2010)</li>
					<li>Médica Colaboradora no Ambulatório de Sexualidade da Clínica Ginecológica - HCFMUSP (2009-2014)</li>
					<li>Atua como Médica Voluntária no Ambulatório de Sexualidade da Clínica Ginecológica - HCFMUSP</li>
					<li>Há 15 anos Médica Ginecologista concursada da Secretária de Saúde do Estado de São Paulo</li>
					<li>Expertise em Sexualidade Humana, Disfunções Sexuais: desejo hipoativo, anorgasmia  e vaginismo</li>
					<li>Atua em clínica particular no atendimento de vaginismo</li>
				</ul>
			</div>
			<div class="col-sx-12 col-lg-offset-1 col-lg-11 btn-voltar">
				<a href="../index.html">Voltar</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 footer">
				<div class="col-lg-12 sub-footer">
					<div class="col-lg-offset-1 col-lg-3 text-center">
						<p class="main-title-footer">VAGINISMO</p>
						<p>Superando o vaginismo</p>
					</div>
					<div class="col-lg-offset-1 col-lg-2 text-center">
						<p class="middle-title-footer">© 2016 Dra Vanda Fonteles</p>
					</div>
					<div class="col-lg-offset-1 col-lg-3 text-center">
						<p class="right-title-footer">Av. Cardoso de Almeida, 1991</p>
						<p>Pacaembu - São Paulo</p>
						<p>CEP 01251-001</p>
						<p>dravandafonteles@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Libs Javascript -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Scripts -->
  <script src="../js/app.js"></script>
</body>
</html>