<!DOCTYPE html>
<html>
<head>
	<title>Dra Vanda Fonteles | Médica | Séxologa</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Libs CSS -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body ng-app="main">
	<div class="container-fluid main-header">
		<div class="row">
			<div class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-1 col-md-1 col-lg-1 logo">
				<img class="img-responsive" src="/img/logo.png" alt="Logo">
			</div>
			<div class="col-sm-offset-1 col-lg-offset-0 col-md-offset-0 col-xs-12 col-sm-6 col-md-7 col-lg-7 headline">
				<h1>SUPERANDO O VAGINISMO</h1>
				<p>Dra. Vanda - Médica e Séxologa</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<header>
					<nav>
						<ul class="list-inline">
							<li><a href="../index.html">Início</a></li> <span>|</span>
							<li><a href="sobre.html">Sobre</a></li> <span>|</span>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</nav>
				</header>
			</div>
		</div>
	</div>

	<div class="container tratamento">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-11">
				<h3>Tratamentos</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-5">
				<p>O objetivo do tratamento é permitir que a mulher se torne o mais confortável possível com seus genitais, diminuindo a ansiedade e eliminando a resposta condicionada de contratura muscular, através de:</p>
 
				<ul>
					<li>Técnicas estruturadas de relaxamento corporal;</li>
					<li>Exercícios de Kegel (contração e relaxamento dos músculos do assoalho pélvico);</li>
					<li>Exercícios foco-sensoriais com objetivo de aumentar autoconhecimento e percepção do próprio corpo;</li>
					<li>Exercícios de dessensibilização lenta e progressiva por meio da inserção gradual de dilatadores vaginais;</li>
					<li>Psicoterapia, terapia cognitiva comportamental, fisioterapia, são tratamentos que também podem ser utilizados;</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<img class="img-responsive" src="../img/tratamentos.jpg" alt="">
			</div>
			
			<div class="col-lg-offset-1 col-lg-11">
				<p>É importante que no final do tratamento a mulher consiga ter uma relação sexual com penetração sem desconforto e dor.</p>
			</div>
			
			<div class="col-sx-12 col-lg-offset-1 col-lg-11 btn-voltar text-left">
				<a href="../index.html">Voltar</a>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 footer">
				<div class="col-lg-12 sub-footer">
					<div class="col-lg-offset-1 col-lg-3 text-center">
						<p class="main-title-footer">VAGINISMO</p>
						<p>Superando o vaginismo</p>
					</div>
					<div class="col-lg-offset-1 col-lg-2 text-center">
						<p class="middle-title-footer">© 2016 Dra Vanda Fonteles</p>
					</div>
					<div class="col-lg-offset-1 col-lg-3 text-center">
						<p class="right-title-footer">Av. Cardoso de Almeida, 1991</p>
						<p>Pacaembu - São Paulo</p>
						<p>CEP 01251-001</p>
						<p>dravandafonteles@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Libs Javascript -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Scripts -->
  <script src="/js/app.js"></script>
</body>
</html>